
<div class="container-fluid  h-100" id="ants-app">
    {{!--<h1>{{i18n "mainTitle"}}</h1>--}}
    {{!-- <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Ant Colony</a>
    </nav> --}}

    <div class="row h-100">

        {{!-- Left column --}}
        <div class="col editor-col">
            <nav>
                <div class="nav nav-tabs" role="tablist">
                    <a class="nav-item nav-link" id="nav-instructions-tab" data-toggle="tab" href="#nav-instructions" role="tab">{{i18n "instructions.title"}}</a>

                    <a class="nav-item nav-link active" id="nav-editor-tab" data-toggle="tab" href="#nav-editor" role="tab">{{i18n "editor.title"}}</a>
                </div>
            </nav>

            <div class="tab-content">
                <div class="tab-pane" id="nav-instructions">
{{>instructions}}
                </div>

                <div class="tab-pane show active" id="nav-editor">
{{>code_editor}}
                    <div class="button-bar">
                        <div id="levelComplete" class="hidden">{{i18n "levelComplete"}}</div>
                        <button name="reset">{{i18n "editor.reset"}}</button>
                        <button name="play" class="bg-primary">{{i18n "editor.play"}}</button>
                        {{!-- <button name="ff-2">x2</button> --}}
                        {{!-- <button name="ff-5">x5</button> --}}
                        {{!-- <button name="ff-10">x10</button> --}}
                    </div>
                </div>
            </div>
        </div>

        {{!-- Right column --}}
        <div class="col">
            <nav>
                <div class="nav nav-tabs" role="tablist">
                    <a class="nav-item nav-link active" id="nav-game-tab" data-toggle="tab" href="#nav-game" role="tab">{{i18n "game"}}</a>
                </div>
            </nav>

            <div class="tab-content">
                <div class="tab-pane show active" id="nav-game">
{{>game_view}}
{{>console}}
                </div>
            </div>
        </div>
    </div>
</div>
